body {
  background-color: black;
  }
h1 {
  color: lime;
  font-family: monospace
}
span {
  color: lime
}
p {
  color: lightgrey;
  font-size: 17px;
  font-family: monospace
}
li
{
  color: lime
}
a {
  color: lightgrey;
  font-family: monospace;
  font-size: 15px;
}
