body {
  background-color: black;
  }
h1 {
  color: lime;
  font-family: monospace
}
span {
  color: lime
}
p {
  color: lightgrey;
  font-size: 17px;
  font-family: monospace
}
li
{
  color: lime;
  font-family: monospace
}
a {
  color: lightgrey;
  font-family: monospace;
  font-size: 17px;
}
.blink {
  height: 20px;
  width: 10px;
  background-color: lime;
  animation: blink 500ms infinite alternate;  
}
@keyframes blink {
  from {opacity:1}
  to {opacity:0}
}
