body {
  background-color: black;
  border: 25px solid;
  }
button {
  background-color: lime;
  border-radius: 12px;
  border: lime;
  color: black;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
}
h1 {
  color: lime;
  font-family: monospace
}
span {
  color: lime;
  font-family: monospace
}
li {
  color: lightgrey;
  font-size: 17px;
  font-family: monospace;
}
p {
  color: lightgrey;
  font-size: 14px;
  font-family: monospace;
}
a {
  color: lightgrey;
  font-family: monospace;
  font-size: 17px;
}
h2 {  color: lime;
  font-family: monospace  
}
.blink {
  height: 20px;
  width: 10px;
  background-color: lime;
  animation: blink 500ms infinite alternate;  
}
@keyframes blink {
  from {opacity:1}
  to {opacity:0}
}
